.c_black {
   color: black;
}
.c_red {
   color: rgba(113, 0, 20, 1);
}
.bgc_red {
   background-color: rgba(113, 0, 20, 1);
}
.c_white {
   color: #FFFFFF;
}
.c_n_white {
   color: #D9D9D9;
}
.c_n_black {
   color: #161616;
}
.bgc_warm_sand {
   background-color: rgb(179, 143, 111);
}

.modal_esc-icons {
   color: black;
}



@media screen and (min-width: 2600px) {
body {
   margin: 0;
   padding: 0;
   
   background-color: rgb(242, 241, 237);
   display: flex;
   justify-content: center;
   align-items: center;
}


.title_container {
   width: 1000px;
   grid-area: title;
   margin: 0 auto 0 100px;
}

.title {
   font-family: "Mulish", sans-serif;
   font-weight: 700;
   font-size: 53px;

   padding: 0;
   margin: 0;
}

._h1-2 {
   font-size: 44px;
   text-align: center;
}
._h2 {
   padding-left: 100px;
   padding-top: 20px;
   font-size: 26px;
}
.not_found_image_text {
   height: 100%;
   width: 100%;
   /* padding: 0 40px; */
   display: flex; 
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 35px;
   border-radius: 10px;
}
.text_center {
   padding: 0;
   margin: 0;
   text-align: center;
}

.component {
   display: grid;
   grid-template-columns: 1300px 1210px;
   grid-template-areas:
      "title title"
      "result _color_1"
      "result _color_2"
      "result finally";
   grid-template-rows: auto 315px 315px auto;
   gap: 30px;

   align-items: center;
   justify-content: center;
   padding: 30px 0;
   width: 2600px;
   background-color: rgb(242, 241, 237);
}

.container-result {
   grid-area: result;
   align-items: start;
   overflow: hidden;

   margin: 0 100px;

   width: 1100px;
   height: 1000px;

   border-radius: 10px;
}

.image-content {
   justify-content: center;
   align-items: center;
   display: flex;
   overflow: hidden;
   margin-top: -160px;

   width: 1100px;
   /* height: 1000px; */
}
.image-content img {
   align-items: center;
   overflow: hidden; 
   width: 1100px;
   /* height: 1000px; */
}


.container-color_1 {
   grid-area: _color_1;
   justify-content: center;
   width: 1210px;
   height: 315px;
   border-radius: 10px;

   background-color: #161616;
}
.container-color-colorhand {
   padding: 20px 20px 0 20px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(9, 90px);
   gap: 25px;
}
._colors {
   height: 90px;
   width: 90px;
   border-radius: 10px;
   border: none;
}


.container-color_2 {
   grid-area: _color_2;
   width: 1210px;
   height: 315px;
   border-radius: 10px;

   background-color: #F2EAE3;
}

.container-finally {
   grid-area: finally;  
   height: 100px;
   align-items: center;
   justify-content: center;

   margin: 127px 0 0 0;
}
}

@media (min-width: 1800px) and (max-width: 2600px) {
body {
   margin: 0;
   padding: 0;
   
   background-color: rgb(242, 241, 237);
   display: flex;
   justify-content: center;
   align-items: center;
}


.title_container {
   width: 900px;
   grid-area: title;
}

.title {
   font-family: "Mulish", sans-serif;
   font-weight: 700;
   font-size: 48px;

   padding: 0;
   margin: 0;
}

._h1-2 {
   font-size: 40px;
   text-align: center;
}
._h2 {
   padding-left: 60px;
   padding-top: 20px;
   font-size: 22px;
}
.not_found_image_text {
   height: 100%;
   width: 100%;
   /* padding: 0 40px; */
   display: flex; 
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 35px;
   border-radius: 10px;
}
.text_center {
   padding: 0;
   margin: 0;
   text-align: center;
}

.component {
   display: grid;
   grid-template-columns: 920px 805px;
   grid-template-areas:
      "title title"
      "result _color_1"
      "result _color_2"
      "result finally";
   grid-template-rows: auto 240px 240px 307px;
   gap: 25px;

   align-items: center;
   justify-content: center;
   padding: 30px 0;
   width: 1800px;
   background-color: rgb(242, 241, 237);
}

.container-result {
   grid-area: result;
   align-items: start;
   overflow: hidden;

   width: 920px;
   height: 837px;

   border-radius: 10px;
}

.image-content {
   justify-content: center;
   align-items: center;
   display: flex;
   overflow: hidden;
   margin-top: -140px;

   width: 920px;
   /* height: 837px; */
}
.image-content img {
   align-items: center;
   overflow: hidden; 
   width: 920px;
   /* height: 837px; */
}


.container-color_1 {
   grid-area: _color_1;
   justify-content: center;
   width: 805px;
   height: 240px;
   border-radius: 10px;

   background-color: #161616;
}
.container-color-colorhand {
   padding: 20px 20px 0 20px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(9, 65px);
   gap: 12px;
}
._colors {
   height: 65px;
   width: 65px;
   border-radius: 10px;
   border: none;
}


.container-color_2 {
   grid-area: _color_2;
   width: 805px;
   height: 240px;
   border-radius: 10px;

   background-color: #F2EAE3;
}

.container-finally {
   grid-area: finally;  
   height: 100px;
   align-items: center;
   justify-content: center;

   margin: 127px 0 0 0;
}
}

@media (min-width: 1200px) and (max-width: 1800px) {
body {
   margin: 0;
   padding: 0;
   
   background-color: rgb(242, 241, 237);
   display: flex;
   justify-content: center;
   align-items: center;
}


.title_container {
   width: 500px;
   grid-area: title;
}

.title {
   font-family: "Mulish", sans-serif;
   font-weight: 700;
   font-size: 40px;

   padding: 0;
   margin: 0;
}

._h1-2 {
   font-size: 30px;
   text-align: center;
}
._h2 {
   padding-left: 20px;
   padding-top: 20px;
   font-size: 16px;
}
.not_found_image_text {
   height: 100%;
   width: 100%;
   /* padding: 0 40px; */
   display: flex; 
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 25px;
   border-radius: 10px;
}
.text_center {
   padding: 0;
   margin: 0;
   text-align: center;
}

.component {
   display: grid;
   grid-template-columns: 622px 518px;
   grid-template-areas:
      "title title"
      "result _color_1"
      "result _color_2"
      "result finally";
   /* grid-template-rows: auto 189px 244px 93px; */
   grid-template-rows: auto 180px 180px 166px;
   gap: 20px;

   align-items: center;
   justify-content: center;
   padding: 30px 0;
   width: 1200px;
   background-color: rgb(242, 241, 237);
}

.container-result {
   grid-area: result;
   align-items: start;
   overflow: hidden;

   width: 622px;
   height: 566px;

   border-radius: 10px;
}

.image-content {
   justify-content: center;
   align-items: center;
   display: flex;
   overflow: hidden;
   margin-top: -100px;

   width: 622px;
   /* height: 566px; */
}
.image-content img {
   align-items: center;
   overflow: hidden; 
   width: 622px;
   /* height: 566px; */
}


.container-color_1 {
   grid-area: _color_1;
   justify-content: center;
   width: 518px;
   /* height: 189px; */
   height: 180px;
   border-radius: 10px;

   background-color: #161616;
}
.container-color-colorhand {
   padding: 16px 20px 0 20px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(9, 48px);
   gap: 6px;
}
._colors {
   height: 48px;
   width: 48px;
   border-radius: 10px;
   border: none;
}


.container-color_2 {
   grid-area: _color_2;
   width: 518px;
   /* height: 244px; */
   height: 180px;
   border-radius: 10px;

   background-color: #F2EAE3;
}

.container-finally {
   grid-area: finally;  
   height: 93px;
   align-items: center;
   justify-content: center;

   margin: 73px 0 0 0;
}
}

@media (min-width: 830px) and (max-width: 1200px) {
body {
   margin: 0;
   padding: 0;
   
   background-color: rgb(242, 241, 237);
   display: flex;
   justify-content: center;
   align-items: center;
}


.title_container {
   width: 500px;
   grid-area: title;
}

.title {
   font-family: "Mulish", sans-serif;
   font-weight: 700;
   font-size: 35px;

   padding: 0;
   margin: 0;
}

._h1-2 {
   font-size: 27px;
   text-align: center;
}
._h2 {
   padding-left: 20px;
   padding-top: 20px;
   font-size: 16px;
}
.not_found_image_text {
   height: 100%;
   width: 100%;
   padding: 0 40px;
   display: flex; 
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 25px;
   border-radius: 10px;
}

.text_center {
   padding: 0;
   margin: 0;
   text-align: center;
}

.component {
   display: grid;
   grid-template-columns: 385px 385px;
   grid-template-areas:
      "title title"
      "_color_1 _color_2"
      "result result"
      "finally finally";
   grid-template-rows: auto 235px 566px 120px;

   gap: 20px;

   align-items: center;
   justify-content: center;
   padding: 25px 0;
   width: 790px;
   background-color: rgb(242, 241, 237);
}

.container-result {
   grid-area: result;
   align-items: start;
   overflow: hidden;
   margin: 0 84px;
   
   width: 622px;
   height: 566px;

   border-radius: 10px;

   background-color: rgb(242, 241, 237);
}

.image-content {
   justify-content: center;
   align-items: center;
   display: flex;
   overflow: hidden;
   margin-top: -110px;

   width: 622px;
   /* height: 566px; */
}
.image-content img {
   align-items: center;
   overflow: hidden; 
   width: 622px;
   /* height: 566px; */
}


.container-color_1 {
   grid-area: _color_1;
   justify-content: center;
   width: 385px;
   height: 235px;
   border-radius: 10px;

   background-color: #161616;
}
.container-color-colorhand {
   padding: 16px 20px 0 20px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(6, 48px);
   gap: 6px;
}
._colors {
   height: 48px;
   width: 48px;
   border-radius: 10px;
   border: none;
}


.container-color_2 {
   grid-area: _color_2;
   width: 385px;
   height: 235px;
   border-radius: 10px;

   background-color: #F2EAE3;
}

.container-finally {
   grid-area: finally;  
   height: 93px;
   align-items: center;
   justify-content: center;

   margin: 10px 0 0 0;
}
}

@media (min-width: 550px) and (max-width: 830px) {
body {
   margin: 0;
   padding: 0;
   
   background-color: rgb(242, 241, 237);
   display: flex;
   justify-content: center;
   align-items: center;
}


.title_container {
   margin-bottom: 20px;
   width: 500px;
   grid-area: title;
}

.title {
   font-family: "Mulish", sans-serif;
   font-weight: 700;
   font-size: 28px;

   padding: 0;
   margin: 0;
}

._h1-2 {
   font-size: 27px;
   text-align: center;
}
._h2 {
   padding-left: 10px;
   padding-top: 10px;
   font-size: 14px;
}
.not_found_image_text {
   height: 100%;
   padding: 0 70px;
   display: flex; 
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 25px;
   border-radius: 10px;
}

.text_center {
   padding: 0;
   margin: 0;
   text-align: center;
}

.component {
   display: grid;
   grid-template-columns: 252.5px 252.5px;
   grid-template-areas:
      "title title"
      "_color_1 _color_2"
      "result result"
      "finally finally";
   grid-template-rows: auto 240px 474px 83px;
   gap: 15px;

   align-items: center;
   justify-content: center;
   padding: 20px 0;
   width: 520px;
   background-color: rgb(242, 241, 237);
}

.container-result {
   grid-area: result;
   align-items: start;
   overflow: hidden;

   width: 520px;
   height: 474px;
   /* w:622 h:566 */

   border-radius: 10px;

   background-color: rgb(242, 241, 237);
}

.image-content {
   justify-content: center;
   align-items: center;
   display: flex;
   overflow: hidden;
   margin-top: -90px;

   width: 520px;
   /* height: 474px; */
}
.image-content img {
   align-items: center;
   overflow: hidden; 
   width: 520px;
   /* height: 474px; */
}


.container-color_1 {
   grid-area: _color_1;
   justify-content: center;
   width: 252.5px;
   height: 240px;
   border-radius: 10px;

   background-color: #161616;
}
.container-color-colorhand {
   padding: 16px 20px 0 20px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(5, 43px);
   gap: 5px;
}
._colors {
   height: 43px;
   width: 43px;
   border-radius: 10px;
   border: none;
}


.container-color_2 {
   grid-area: _color_2;
   width: 252.5px;
   height: 235px;
   border-radius: 10px;

   background-color: #F2EAE3;
}

.container-finally {
   grid-area: finally;  
   height: 73px;
   align-items: center;
   justify-content: center;

   margin: 10px 0 0 0;
}
}

@media (min-width: 400px) and (max-width: 550px) {
body {
   margin: 0;
   padding: 0;
   
   background-color: rgb(242, 241, 237);
   display: flex;
   justify-content: center;
   align-items: center;
}


.title_container {
   margin-bottom: 10px;
   width: 380px;
   grid-area: title;
}

.title {
   font-family: "Mulish", sans-serif;
   font-weight: 700;
   font-size: 25px;

   padding: 0;
   margin: 0;
}

._h1-2 {
   font-size: 20px;
   text-align: center;
}
._h2 {
   padding-left: 35px;
   padding-top: 7px;
   font-size: 14px;
}
.not_found_image_text {
   height: 100%;
   display: flex; 
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 24px;
   border-radius: 10px;
}
.text_center {
   padding: 0;
   margin: 0;
   text-align: center;
}

.component {
   display: grid;
   grid-template-columns: 380px;
   grid-template-areas:
      "title"
      "_color_1"
      "_color_2"
      "result"
      "finally";
   grid-template-rows: auto 172px 172px 346px 83px;
   gap: 10px;

   align-items: center;
   justify-content: center;
   padding: 20px 0;
   width: 380px;
   background-color: rgb(242, 241, 237);
}

.container-result {
   grid-area: result;
   align-items: start;
   overflow: hidden;

   width: 380px;
   height: 346px;
   /* w:622 h:566 */

   border-radius: 10px;
   background-color: rgb(242, 241, 237);
}

.image-content {
   justify-content: center;
   align-items: center;
   display: flex;
   overflow: hidden;
   margin-top: -60px;

   width: 380px;
   /* height: 346px; */
}
.image-content img {
   align-items: center;
   overflow: hidden; 
   width: 380px;
   /* height: 346px; */
}


.container-color_1 {
   grid-area: _color_1;
   justify-content: center;
   width: 380px;
   height: 172px;
   border-radius: 10px;

   background-color: #161616;
}
.container-color-colorhand {
   padding: 7px 20px 0 20px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(7, 40px);
   gap: 5px;
}
._colors {
   height: 40px;
   width: 40px;
   border-radius: 10px;
   border: none;
}


.container-color_2 {
   grid-area: _color_2;
   width: 380px;
   height: 172px;
   border-radius: 10px;

   background-color: #F2EAE3;
}

.container-finally {
   grid-area: finally;  
   height: 63px;
   align-items: center;
   justify-content: center;

   margin: 10px 0 10px 0;
}
}

@media (min-width: 0px) and (max-width: 400px) {
body {
   margin: 0;
   padding: 0;
   
   background-color: rgb(242, 241, 237);
   display: flex;
   justify-content: center;
   align-items: center;
}


.title_container {
   margin-bottom: 10px;
   width: 280px;
   grid-area: title;
}

.title {
   font-family: "Mulish", sans-serif;
   font-weight: 700;
   font-size: 23px;

   padding: 0;
   margin: 0;
}

._h1-2 {
   font-size: 20px;
   text-align: center;
}
._h2 {
   padding-left: 30px;
   padding-top: 5px;
   font-size: 14px;
}

.not_found_image_text {
   height: 100%;
   display: flex; 
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 18px;
   border-radius: 10px;
}

.text_center {
   padding: 0;
   margin: 0;
   text-align: center;
}

.component {
   display: grid;
   grid-template-columns: 280px;
   grid-template-areas:
      "title"
      "_color_1"
      "_color_2"
      "result"
      "finally";
   grid-template-rows: auto 212px 212px 255px 83px;
   gap: 10px;

   align-items: center;
   justify-content: center;
   padding: 20px 0;
   width: 280px;
   background-color: rgb(242, 241, 237);
}

.container-result {
   grid-area: result;
   align-items: start;
   overflow: hidden;

   width: 280px;
   height: 255px;
   /* w:622 h:566 */

   border-radius: 10px;
}

.image-content {
   justify-content: center;
   align-items: center;
   display: flex;
   overflow: hidden;
   margin-top: -40px;

   width: 280px;
   /* height: 255px; */
}
.image-content img {
   align-items: center;
   overflow: hidden; 
   width: 280px;
   
   /* height: 255px; */
}


.container-color_1 {
   grid-area: _color_1;
   justify-content: center;
   width: 280px;
   height: 212px;
   border-radius: 10px;

   background-color: #161616;
}
.container-color-colorhand {
   padding: 5px 20px 0 20px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(5, 40px);
   gap: 5px;
}
._colors {
   height: 40px;
   width: 40px;
   border-radius: 10px;
   border: none;
}


.container-color_2 {
   grid-area: _color_2;
   width: 280px;
   height: 212px;
   border-radius: 10px;

   background-color: #F2EAE3;
}

.container-finally {
   grid-area: finally;  
   height: 63px;
   align-items: center;
   justify-content: center;

   margin: 10px 0 10px 0;
}
}